.area-upload label.label-upload.highlight{
    background-color: #fffdaa;
}

.area-upload label.label-upload *{
    pointer-events: none;
}

.area-upload input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    -webkit-appearance: none;
    opacity: 0;
}

.lista-uploads{
    font-size: 16px;
}

.lista-uploads .barra{
    background-color: #004792;
    margin: 10px 0;
    width: 100%;
    position: relative;
}

.lista-uploads .barra .fillB{
    background-color: #28a745;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 0;
    
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.lista-uploads .barra.completeB .fillB{
    background-color: #28a745;
    font-size: 16px;
}

.lista-uploads .barra .textB{
    padding: 3px 5px;
    position: relative;
    width: 100%;
    font-size: 16px;
}
.lista-uploads .barra .textB a{
    color: white;
    font-weight: bold;
}

.lista-uploads .barra.error .fillB{	
    background-color: #dc3545;
    color: white;
    width: 100%;
    font-size: 16px;
}

.lista-uploads .barra.error .textB{
    color: white;
}

.barra, .fillB {
    border-radius: 3px;
}

.barra {
    color: white;
}

.fillB {
    color:white;
}

.textB{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}