/*
Importe este arquivo como style global no arquivo pages/_app.js
*/

.layout-header-editable-item{
  width:100%;
  height:100%;
}

.layout-header-editable-base{
  width: 100%;
  min-height: 100%;
  align-items: top;
  justify-items: center;
}

.layout-header-editable-space-h{ 
  width: 100%;
  color:#489ff7;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #489ff7;
  box-shadow: 0px -2px 10px 6px #2B6AAB;
  background-color: rgba(1, 20, 34, 0.9);
  cursor: pointer;
  z-index: 700;
  font-size: 14px;
}

.layout-header-editable-space-m{
  width: 100%;
  min-height: 100%;
  display: block;
  overflow: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 3%;
  padding-right: 3%;
}

@media only screen and (max-width: 600px){
  .layout-header-editable-space-h,h5{ 
    font-size: 14px;
  }
}

@media print {
  .layout-header-editable-space-h{ 
    display: none;
  }
  form{
    display: none;
  }
}